<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kn.multinote.ui.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="kn.multinote.app.MultiNoteApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kn.multinote.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kn.multinote.ui.activity.NoteStorageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="kn.multinote.ui.activity.CaptureSoundActivity"
            android:label="@string/capture" >
        </activity>
        
        <activity
            android:name="kn.multinote.ui.activity.ShownoteActivity"
            android:label="@string/ShowNote" >
        </activity>
        
        <activity
            android:name="kn.multinote.ui.activity.DisplayCaptureSoundActivity"
            android:label="@string/displaycapturesound" >
        </activity>

        <receiver android:name="kn.multinote.ui.receiver.BootAtStartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="kn.multinote.ui.services.PopupNote"
            android:label="@string/popup_note"
            android:process="" >
        </service>
        <service
            android:name="kn.multinote.ui.services.QuickNoteService"
            android:label="@string/popup_note"
            android:process="" >
        </service>
    </application>

</manifest>